.Wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    height: auto;
}
html{
    font-family: open sans, sans-serif;
}
body{
    background-color: #d5d7d9;
    font-size: 1rem;
    
}
.Header{
    background-color: #7b2948;
    position: relative;
    z-index: 3;
}
.Header .Wrapper{
    display: block;
    height: auto;
}
.Header > .Mid .Logo{
    margin-bottom: 0;
    padding-top: 10px;
}
.Container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    padding: 1.5rem 0 1.5rem 0;
    
    margin: 0 auto;
    
}
.Ax[class*="Row"]{
    display: flex;
    flex-flow: row wrap;
}
@media (min-width:1020px){}
.CX[class*="Row"]{
    display: -webkit-flex;
    flex-wrap:wrap;
}
.AFixed{
    flex: none;
    max-width: 100%;
}
.Ax.Row.Afluid >*{
    -webkit-flex:4;
    -ms-flex: 1;
    flex: 1;
}
button, input, textarea,select,label,a{
    transition: all .2s linear;
}
a{
    background-color: transparent;
    text-decoration: none;
}
.Header > .Mid .Container .AFixed .Menu li a{
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 50px;
    
    padding: 10px 15px;
    
}
nav ul{
    list-style-type: none ;
}
.Header .Mid .Menu li{
    display: inline-block;
}
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
span[class*="fa-"]{
    display: inline-block;
}
header> .Mid .Loging{
    padding: 15px 5px;
    position: relative;
    z-index: 99999999999;
    display: flex;
    align-items: center;
}
.Header> .Mid .Loging .Button{
    border-radius: 5px;
    background-color: #671b37;
    width: 100%;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 15px;
}
.Button{
    padding: 10px 15px;
    color: #fff;
}

.Header> .Mid .Search >form input{
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 20px;
    border: none;
    margin-bottom: 0;
    padding-right: 50px;
    
    
}
input, select{
    height: 40px;
    line-height: normal;
}
.Header> .Mid .Search >form input:focus{
    outline: none;
    background-color: rgba(0, 0, 0, .3);
}

input, textarea, select, label, a{
display: block;
padding: 5px 15px;
width: 100%;
transition: all .2s linear;
}
.Search{
    display: flex;
    align-items: center;
    
}
